{% load static %}
<!--footer-->
<footer class="pt-4 navbar-custom text-light">
    <div class="container-fluid text-center text-md-left">

        <div class="row">

            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">
                    <img src="{% static 'img/mycoffee.png' %}" class="img-brand" alt="My Coffee"> My Coffee
                </h5>
                <p>Order your favorite coffee, and get it wherever you are.</p>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <div class="col-md-3 mb-md-0 mb-3">

                <h5 class="text-uppercase">Delivery Service</h5>

                <ul class="list-unstyled">
                    <li><a href="tel:333333333">333-333-333</a></li>
                    <li><a href="tel:444333332">444-333-332</a></li>
                    <li><a href="tel:555333331">555-333-331</a></li>
                    <li><a href="tel:666333333">666-333-333</a></li>
                </ul>

            </div>

            <div class="col-md-3 mb-md-0 mb-3">

                <h5 class="text-uppercase">Join Us</h5>

                <ul class="list-unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">YouTube</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>

            </div>

        </div>

    </div>

    <div class="text-center py-3">
        Copyright &copy; <span class="year">2019</span> My Coffee. Powered By Hassouna Academy
    </div>

</footer>