{% extends 'base.html' %} {% block content %}
<div class="my-content container p-5 my-5 rounded border border-warning">
    <h2 class="text-center">Coffee is very important</h2>
    <hr>
    <p>Coffee Could Strengthen Your DNA</p>
    <p>Caffeine stimulates your nervous system, signaling fat cells to break down body fat.</p>
    <p>Coffee appears to be protective against two types of cancer: liver and colorectal cancer.</p>
    <p>Coffee Could Help Reduce Your Risk of Diabetes.</p>
    <p>Coffee Could Help Reverse Liver Damage from Drinking.</p>
    <p>Coffee Could Reduce Your Risk of Parkinson's Disease.</p>
    <p>Coffee Could Make Physical Activity Feel Easier.</p>
    <p>Coffee Could Help Reduce Your Risk of Digestive Diseases.</p>
    <p>Coffee Could Decrease Your Risk of Multiple Sclerosis.</p>
    <p>Coffee Could Help Lower Your Risk of Basal Cell Carcinoma.</p>
    <p>Coffee Could Help Protect Against Heart Failure.</p>
    <p>Coffee Could Help Reduce Your Risk of Alzheimer's.</p>
    <p>Coffee Could Help Reduce Post-Workout Muscle Pain.</p>
    <p>Coffee Gives You an Opportunity to Take a Break at Work.</p>
    <p>Coffee help you obtain numerous nutrients and antioxidants.</p>
    <p>Caffeine provides a short-term memory boost.</p>
</div>
{% endblock %}