{% extends 'base.html' %} {% load static %} {% block content %}
<div class="my-form container p-5 my-5 rounded border border-warning">
    <form>
        <h2 class="text-center">Product Details</h2>
        <hr>

        <section>

            <div class="row p-5 ">

                <div class="card mb-3 w-100">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{pro.photo.url}}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" id="productName">{{pro.name}}</h5>
                                <hr>
                                <p class="card-text" id="description">{{pro.Description}}</p>
                                <hr>
                                <p class="card-text">Current Price: <span id="price" class="bg-dark text-light rounded-circle p-2">${{pro.price}}</span></p>
                                <hr>
                                <button type="submit" class="btn btn-warning">Add To Cart</button>
                                <button type="submit" class="btn btn-warning text-white">
                          <svg class="bi bi-star-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                        </button>
                                <hr>
                                <a href="{% url 'products' %}" class="btn btn-warning">All products</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>


    </form>

</div>
{% endblock %}