{% extends 'base.html' %} {% load static %} {% block content %}
<div class="my-form container p-5 my-5 rounded border border-warning">
    <form>
        <h2 class="text-center">
            Products

        </h2>
        <hr>


        <section>
            <div class="container-fluid">
                <div class="row p-5">
                    {% for pro in products %}
                    <div>
                        <div class="card m-2" style="width: 18rem;">
                            <img src="{{pro.photo.url}}" class="card-img-top" alt="{{ pro.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{pro.name}}</h5>
                                <p class="card-text text-truncate">{{pro.description}}</p>
                                <a href="{% url 'product' pro_id=pro.id %}" class="btn btn-warning">Show Details</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>


    </form>

</div>
{% endblock %}