{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pretty-checkbox.min.css' %}">
    <title>my coffee</title>

</head>

<body>
    {% include 'partials/_navbar.html' %}{% block content %} {% endblock %} {% include 'partials/_footer.html' %}

    <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js'  %}"></script>
    <script>
        $(function() {
            $('[data-toggle="popover"]').popover()
        })
        $(".year").text((new Date).getFullYear());
    </script>
</body>

</html>